/* UTILS */
:root {
	--primary-color: rgba(100, 155, 155, 1);
	--secondary-color: rgba(155, 100, 100, 1);
	
	--light-gray: rgba(200, 200, 200, 1);
	--md-gray: rgba(150, 150, 150, 1);
	--dark-gray: rgba(100, 100, 100, 1);

	--red: rgba(250, 100, 100, 1);
	--blue: rgba(100, 100, 250, 1);
	--yellow: rgba(250, 250, 100, 1);
	--green: rgba(100, 250, 100, 1);
	
	--black: rgba(50, 50, 50, 1);
	--black06: rgba(50, 50, 50, 0.06);
	--black60: rgba(50, 50, 50, 0.6);

	--white: rgba(250, 250, 250, 1);
	--white06: rgba(250, 250, 250, 0.06);

	--shadow-color1: rgb(0 0 0 / 10%);
	--shadow-color2: rgb(0 0 0 / 6%);
	--shadow-color3: rgb(0 0 0 / 7%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	font-family: sans-serif;
	color: var(--black);
	line-height: 1.4;
}

a {
	color: var(--black);
}

ul {
	list-style: none;
}

p {
	margin: 5px 0;
	line-height: 1.7;
}

img {
	max-width: 100%;	
}

section a {
	color: var(--white);
}

/* UTILS END */

/* SHADOW  */

.shadow-prim {
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--primary-color), 0 0 2px var(--secondary-color);
}

.shadow-red-yell {
	box-shadow: 5px 5px 0 0 var(--red), -5px -5px 0 0 var(--yellow), 0 0 2px var(--shadow-color3);
}

.shadow-red-blue {
	box-shadow: 5px 5px 0 0 var(--red), -5px -5px 0 0 var(--blue), 0 0 2px var(--shadow-color3);
}

.shadow-md {
	box-shadow: 5px 0 0 0 var(--yellow), 10px 0 0 0 var(--blue), 15px 0 0 0 var(--red);
}

/* SHADOW  */


/* BTN  */

.btn {
	cursor: pointer;
	display: inline-block;
	background: none;
	border: 1px solid var(--black);
	border-radius: 50px;
	padding: 7px 16px;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;	
}

.btn-dark-outline {
	border-color: var(--black);
	color: var(--black);
}

.btn-dark-outline:hover {
	background-color: var(--black06);
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--secondary-color), 0 0 2px var(--shadow-color3);
}


.btn-light-outline {
	border-color: var(--white);
	color: var(--white);
}

.btn-light-outline:hover {
	background-color: var(--white06);
	box-shadow: 5px 5px 0 0 var(--blue), -5px -5px 0 0 var(--yellow), 0 0 2px var(--shadow-color3);
}

.btn-dark {
	background-color: var(--black);
	color: var(--white);
}

.btn-dark:hover {
	background-color: var(--black60);
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--secondary-color), 0 0 2px var(--shadow-color3);
}

/* BTN END  */


/* BG */

.bg-primary {
	background-color: var(--primary-color);
	color: var(--white);
}

.bg-secondary {
	background-color: var(--secondary-color);
	color: var(--white);
}

.bg-img {
	height: 100%;
	background: url('../img/img1.jpg') no-repeat center / cover;
}

/* BG END */

/* TEXT */

.text-center {
	text-align: center;
}

.text-xl {
	font-size: 40px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-bottom: 20px;
}

.text-lg {
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.text-md {
	font-size: 19px;
	margin-bottom: 20px;
}

.text-sm {
	font-size: 12px;
	margin-bottom: 20px;
}

/* TEXT END */

/* TRANSFORM  */

.skewX {
	transform: skewX(360deg);
}

/*TRNASFORM END */

/* DISPLAY */

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* DISPLAY END */

/* GRID  */

.grid-col-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 0;
}

.grid-reversed :first-child {
	order: 2;
}

.grid-reversed :nth-child(2) {
	margin: 100px 0;
}

.grid-reversed img {
	padding-right: 0;
	justify-content: stretch;
}

/* GRID END  */

/* PADDING */

.py-lg {
	padding: 40px 0;
}

.py-md {
	padding: 20px 0;
}

.py-sm {
	padding: 10px 0;
}

.px-lg {
	padding: 0 40px;
}

.px-md {
	padding: 0 20px;
}

.px-sm {
	padding: 0 10px;
}

.px-0 {
	padding: 0 150px 0 150px;
}

/* PADDING END */

/* NAVBAR */

.navbar {
	height: auto;
	width: 100%;
	background-color: var(--white);
	padding: 20px;
	box-shadow: 0 1px 3px var(--shadow-color1), 0 2px 2px var(--shadow-color2), 0 0 2px var(--shadow-color3);

}

.navbar ul {
	display: flex;
	align-items: center;
}

.navbar li {
	margin: 0 15px;
	font-weight: bold;
}

.navbar a {
	color: var(--black);
	text-decoration: none;
}

.navbar-nav-left a:hover {
	color: var(--red);
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--secondary-color), 0 0 2px var(--shadow-color3);
	padding: 5px;
	border: 1px solid var(--black);
}



.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1440px;
	margin: 0 auto;
}

.navbar-brand img {
	width: 65px;
	height: 80px;
	border-radius: 50%;
}

.navbar-brand img:hover {
	transform: scale(1.1);
	/*box-shadow: 0 1px 3px var(--shadow-color1), 0 2px 2px var(--shadow-color2), 0 0 2px var(--shadow-color3);*/
	filter: contrast(100%) saturate(150%);
	box-shadow: 5px 5px 0 0 var(--primary-color), -5px -5px 0 0 var(--secondary-color), 0 0 2px var(--shadow-color3);
	/*box-shadow: -5px -5px 0 0 var(--primary-color), 5px -5px  0 0 var(--secondary-color), -5px 5px 0 0 var(--blue), 5px 5px 0 0 var(--yellow);*/
}

.navbar-nav-left {
	text-transform: uppercase;
	flex: 1;
	margin-left: 30px;
}

.navbar-nav-right img {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin-right: 10px;
}

.navbar-nav-right li:first-child {
	border-bottom: 2px solid var(--black);
}

.navbar-nav-right li:first-child:hover {
	color: var(--primary-color);
	border-bottom: 2px solid var(--red);
}

.navbar-nav-right li:first-child a {
	display: flex;
	align-items: center;
}

.navbar-nav-right li:nth-child(2) {
	margin: 0 5px;
}


/* NAVBAR END */

/* BOX */

.box {
	margin-bottom: 30px;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.box-inner {
	max-width: 700px;
	margin: 0 auto;
}

.box-content {
	max-width: 500px;
	text-align: center;
	justify-content: center;
	padding: 20px 0;
}

.box-content .btn {
	margin-top: 20px;
}

.box-d {
	width: 900px;
	box-shadow: 5px 0 0 0 var(--red), 10px 0 0 0 var(--primary-color), -5px 0 0 0 var(--secondary-color), -10px 0 0 0 var(--yellow);
}

.box-d img:hover {
	animation: huerotate 0.5s infinite linear;
}

.bod-d-text:hover {
	animation: huerotate 0.5s infinite linear;
}

.box-d .box-content h2, p {
	color: var(--white);
}

.box-e img {
	width: 70%;
	margin-right: 0;
}

.img-box-f {
	/*transform: translateX(10px);*/
	justify-content: center;
	align-items: center;
	width: 100%;
}


/* BOX END */


/* FOOTER */

.footer-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px 30px;

}

.footer-container p {
	color: var(--black);
}

.social a {
	text-decoration: none;
	margin-right: 20px;
}

.divider {
	width: 95%;
	height: 1px;
	background-color: var(--shadow-color1);
	margin: 40px auto;
}

/* FOOTER END */


/* MENU */

.menu {
	display: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	position: relative;
	background: none;
	border: none;
	z-index: 10;
	transition: all 0.5s;
}

.menu-top,
.menu-middle,
.menu-bottom {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 2px;
	background-color: var(--black);
	transform: rotate(0);
	transition: all 0.5s;
}

.menu-middle {
	transform: translateY(7px);
}

.menu-bottom {
	transform: translateY(14px);
}

.open .menu-top {
	transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .menu-middle {
	display: none;
}

.open .menu-bottom {
	transform: rotate(-45deg) translateX(-6px) translateY(6px);
	
}

/* MENU END */

/* MOBILE MENU */

.mobile-menu {
	position: absolute;
	background-color: var(--white);
	top: 81px;
	right: 0;
	width: 90%;
	height: 100%;
	padding: 30px;
	box-shadow: inset 0 4px 3px -3px var(--shadow-color1), inset 0 4px 2px -2px var(--shadow-color2);
	transition: all 0.5s;
}

.mobile-menu ul {
	line-height: 3;
	border-bottom: 1px solid var(--black);
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.mobile-menu a {
	text-decoration: none;
	font-size: 20px;
}

.mobile-menu a:hover {
	color: var(--primary-color);
}

.mobile-menu div {
	margin-top: 20px;
}

.mobile-menu div a {
	display: flex;
	align-items: center;
	font-size: 16px;
}

.hidden {
	transform: translateX(100%);
	display: none;
}

.no-scroll {
	overflow: hidden;
}

/* MOBILE MENU END */



/* MEDIA QUERY */

@media (max-width: 786px) {

	.menu {
		display: block;
	}

	.grid-col-2 {
		grid-template-columns: 1fr;
	}

	.grid-reversed :first-child{
		order: 0;
	}

	.bg-img {
		width: 100%;
	}

	.navbar img {
		height: 10%;
		width: 10%;
	}

	.navbar .navbar-nav-right,
	.navbar .navbar-nav-left {
		display: none;
	}

	.box-e img {
		width: 100%;
		margin-right: 0;
	}

	.footer {
		text-align: center;
	}

	.px-0 {
		padding: 0;
	}

	.px-lg {
		padding: 0;
	}

	.shadow-prim {
	box-shadow: 0 0 0 0 transparent;
	}

	.shadow-red-yell {
		box-shadow: 0 0 0 0 transparent;
	}

	.shadow-red-blue {
		box-shadow: 0 0 0 0 transparent;
	}

	.shadow-md {
		box-shadow: 0 0 0 0 transparent;
	}
}

@media (max-width: 960px) {
	.text-xl {
		font-size: 30px;
	}
}

@media (min-width: 1140px) {
	.box {
		max-width: 1140px;
		margin-right: auto;
		margin-left: auto;
	}

	.divider {
		max-width: 90%;
	}
}

/* MEDIA QUERY END */


/* KEYFRAMES */

@keyframes huerotate {
	from{
		filter: hue-rotate(0deg);
	}
	to{
		filter: hue-rotate(360deg);
	}
}

/* KEYFRAMES END */
